{% extends "model-page.html" %}

{% block content %}

    <div class="container mt-5">
        <div class="d-flex justify-content-center h-100">
            <div class="card w-100">
                <div class="card-header d-flex justify-content-between">
                    <h3>Agendamentos</h3>
                    <a class="btn btn-primary" href="evento/">novo evento</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col"></th>
                            <th scope="col">Compromisso</th>
                            <th scope="col">Início</th>
                        </thead>
                        <tbody>
                            {% for evento in eventos %}
                                <tr>
                                    <th scope="row">{{ evento.id }}</th>
                                    <td>{{ evento.titulo }}</td>
                                    <td>{{ evento.get_data_criacao }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}